{% extends "base.html" %}

{% block content %}
    <h1>{{username}} Flight Calculator Page</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.departure_airport.label }}<br>
            {{ form.departure_airport(size=32) }}
        </p>        
        <p>
            {{ form.arrival_airport.label }}<br>
            {{ form.arrival_airport(size=32) }}
        </p>
        <p>{{ form.calculate() }}</p>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    {% endwith %}
    <p></p><a href="{{url_for('carbon_calculator')}}">Back to Main Calculator Page</a></p>

{% endblock %}