{% extends "base.html" %}

{% block content %}
    <h1>{{username}} Vehicle Calculator Page</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.distance.label }}<br>
            {{ form.distance(size=32) }}
        </p>        
        <p>
            {{ form.number_of_passengers.label }}<br>
            {{ form.number_of_passengers(size=32) }}
        </p>
        <p>
            {{ form.make_of_vehicle.label }}<br>
            {{ form.make_of_vehicle(size=32) }}
        </p>
        <p>
            {{ form.model_of_vehicle.label }}<br>
            {{ form.model_of_vehicle(size=32) }}
        </p>
        <p>{{ form.calculate() }}  {{ form.log_activity() }}</p>
    </form>
    <!-- <input type="Calculate" name="calculate" value="Calculate">
    <input type="Log" name="log" value="Log Activity"> -->
    <p></p><a href="{{url_for('carbon_calculator')}}">Back to Main Calculator Page</a></p>
{% endblock %}